@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chewy&display=swap');
body {
    font-family: 'acme';
    font-size: '1.2 rem';
    line-height: '2 rem';
}

.main-title {
    text-align: center;
}

h1 {
    color: salmon;
    font-family: 'hewy', cursive;
}

h3 {
    color: rgb(14, 85, 79)
}

.centered-image-container {
    width: 100%;
    text-align: center;
}

.main-image {
    border: solid 8px #856a12;
}

#wrapper {
    border: solid 10px #69530c;
    padding: 20px;
    background-color: #fcf8eb;
}